<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd"
           default-autowire="byName"  >
           
   	<bean id="fundInfoService" class="com.erayt.xfunds.fund.impl.FundInfoServiceImpl"/>
	
	<bean id="fundInfoRepository" class="com.erayt.xfunds.fund.impl.FundInfoRepositoryImpl"/>
	
	<bean id="fundSubscribeService" class="com.erayt.xfunds.fund.impl.FundSubscribeServiceImpl"/>
	
	<bean id="fundSubscribeRepository" class="com.erayt.xfunds.fund.impl.FundSubscribeRepositoryImpl"/>
	
	<bean id="fundDrawService" class="com.erayt.xfunds.fund.impl.FundDrawServiceImpl"/>
	
	<bean id="fundDrawRepository" class="com.erayt.xfunds.fund.impl.FundDrawRepositoryImpl"/>
	
	<bean id="fundBillService" class="com.erayt.xfunds.fund.impl.FundBillServiceImpl"/>
	
	<bean id="fundBillRepository" class="com.erayt.xfunds.fund.impl.FundBillRepositoryImpl"/>
	
	<bean id="fundInterestService" class="com.erayt.xfunds.fund.impl.FundInterestServiceImpl"/>
	
	<bean id="fundInterestRepository" class="com.erayt.xfunds.fund.impl.FundInterestRepositoryImpl"/>
	
	<bean id="fundInterestRateService" class="com.erayt.xfunds.fund.impl.FundInterestRateServiceImpl"/>
	
	<bean id="fundInterestRateRepository" class="com.erayt.xfunds.fund.impl.FundInterestRateRepositoryImpl"/>
	
	<bean id="fundPositionService" class="com.erayt.xfunds.fund.impl.FundPositionServiceImpl"/>
	
	<bean id="fundPositionRepository" class="com.erayt.xfunds.fund.impl.FundPositionRepositoryImpl"/>
	
	<bean id="fundEventInitListener" class="com.erayt.xfunds.common.fund.Listener.FundEventInitListener"/>
     
	<bean id="fundBondRateService" class="com.erayt.xfunds.fund.impl.FundBondRateServiceImpl"/>
     
	<bean id="spvInfoService" class="com.erayt.xfunds.fund.impl.SpvInfoServiceImpl"/>
	
	<bean id="spvInfoRepository" class="com.erayt.xfunds.fund.impl.SpvInfoRepositoryImpl"/>
	
	<bean id="spvSubscribeService" class="com.erayt.xfunds.fund.impl.SpvSubscribeServiceImpl"/>
	
	<bean id="spvSubscribeRepository" class="com.erayt.xfunds.fund.impl.SpvSubscribeRepositoryImpl"/>
	
	<bean id="spvPositionService" class="com.erayt.xfunds.fund.impl.SpvPositionServiceImpl"/>
	
	<bean id="spvPositionRepository" class="com.erayt.xfunds.fund.impl.SpvPositionRepositoryImpl"/>
	
	<bean id="spvDrawService" class="com.erayt.xfunds.fund.impl.SpvDrawServiceImpl"/>
	
	<bean id="spvDrawRepository" class="com.erayt.xfunds.fund.impl.SpvDrawRepositoryImpl"/>

	<bean id="fundScalePreserveService" class="com.erayt.xfunds.fund.impl.FundScalePreserveServiceImpl"/>

	<bean id="fundUserRuleService" class="com.erayt.xfunds.fund.impl.FundUserRuleServiceImpl"/>
	<bean id="fundWhiteListService" class="com.erayt.xfunds.fund.impl.FundWhiteListServiceImpl"/>

	<bean id="fundWhiteListListener" class="com.erayt.xfunds.fund.listener.FundWhiteListListener"></bean>

</beans>

