<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd"
           default-autowire="byName">
           
   <bean id="fundInfoDao" class="com.erayt.solar2.db.DaoProxyFactoryBean">
		<property name="daoInterface" value="com.erayt.xfunds.fund.impl.dao.FundInfoDao" />
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>
	
	<bean id="fundSubscribeDao" class="com.erayt.solar2.db.DaoProxyFactoryBean">
		<property name="daoInterface" value="com.erayt.xfunds.fund.impl.dao.FundSubscribeDao" />
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>
	
	<bean id="fundBillDao" class="com.erayt.solar2.db.DaoProxyFactoryBean">
		<property name="daoInterface" value="com.erayt.xfunds.fund.impl.dao.FundBillDao" />
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>
	
	<bean id="fundDrawDao" class="com.erayt.solar2.db.DaoProxyFactoryBean">
		<property name="daoInterface" value="com.erayt.xfunds.fund.impl.dao.FundDrawDao" />
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>	
	
	<bean id="fundInterestDao" class="com.erayt.solar2.db.DaoProxyFactoryBean">
		<property name="daoInterface" value="com.erayt.xfunds.fund.impl.dao.FundInterestDao" />
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>
	
	<bean id="fundInterestRateDao" class="com.erayt.solar2.db.DaoProxyFactoryBean">
		<property name="daoInterface" value="com.erayt.xfunds.fund.impl.dao.FundInterestRateDao" />
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>
	
	<bean id="fundPositionDao" class="com.erayt.solar2.db.DaoProxyFactoryBean">
		<property name="daoInterface" value="com.erayt.xfunds.fund.impl.dao.FundPositionDao" />
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>
    
    <bean id="fundBondRateDao" class="com.erayt.solar2.db.DaoProxyFactoryBean">
		<property name="daoInterface" value="com.erayt.xfunds.fund.impl.dao.FundBondRateDao" />
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>
	
	 <bean id="spvInfoDao" class="com.erayt.solar2.db.DaoProxyFactoryBean">
		<property name="daoInterface" value="com.erayt.xfunds.fund.impl.dao.SpvInfoDao" />
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>
	
	<bean id="spvSubscribeDao" class="com.erayt.solar2.db.DaoProxyFactoryBean">
		<property name="daoInterface" value="com.erayt.xfunds.fund.impl.dao.SpvSubscribeDao" />
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>
	 <bean id="spvPositionDao" class="com.erayt.solar2.db.DaoProxyFactoryBean">
		<property name="daoInterface" value="com.erayt.xfunds.fund.impl.dao.SpvPositionDao" />
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>
	
	<bean id="spvDrawDao" class="com.erayt.solar2.db.DaoProxyFactoryBean">
		<property name="daoInterface" value="com.erayt.xfunds.fund.impl.dao.SpvDrawDao" />
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>

	<bean id="fundScalePreserveDao" class="com.erayt.solar2.db.DaoProxyFactoryBean">
		<property name="daoInterface" value="com.erayt.xfunds.fund.impl.dao.FundScalePreserveDao" />
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>

	<bean id="fundUserRuleDao" class="com.erayt.solar2.db.DaoProxyFactoryBean">
		<property name="daoInterface" value="com.erayt.xfunds.fund.impl.dao.FundUserRuleDao" />
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>

	<bean id="fundWhiteListDao" class="com.erayt.solar2.db.DaoProxyFactoryBean">
		<property name="daoInterface" value="com.erayt.xfunds.fund.impl.dao.FundWhiteListDao" />
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>
</beans>
